<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <!-- Bootstrap core CSS -->

    <link href="~/Content/bootstrap4/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles -->
    <link href="~/Content/BlogStyles.css" rel="stylesheet" />

</head>

<body>
    <!--Header-->
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top border-bottom-2 border">
        <div class="container">
            <a class="navbar-brand" href="#">BestBlog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        @Html.ActionLink("Posts", "Posts", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Me</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    <a class="nav-link" href="" data-toggle="modal" data-target="#exampleModalCenter">Login</a>
                </span>
            </div>
        </div>
    </nav>
    <!-- Page Content -->
    <div class="container">
        <div class="row" style="height:28px"></div>
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8">
                @RenderBody()
                <!-- Blog Post -->
                <!-- Pagination -->
            </div>
            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">
                <div class="row justify-content-center" style="height:30px">
                    <h3>
                        <a href="#" class="text-dark"><i class="fab fa-windows"></i></a>
                        <a href="#" class="text-dark"><i class="fab fa-twitter-square"></i></a>
                        <a href="#" class="text-dark"><i class="fab fa-facebook"></i></a>
                        <a href="https://github.com/SavateevD?tab=repositories" class="text-dark"><i class="fab fa-github"></i></a>
                    </h3>
                </div>
                <!-- Side Widgets -->
                @Html.Partial("_Search")
                @Html.Action("Sidebars")

                <div class="card my-4">
                    <h5 class="card-header text-center">Side Widget</h5>
                    <div class="card-body">
                        todo add some widget here
                    </div>
                </div>

            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
        </div>
        <!-- /.container -->
    </footer>
    @Html.Action("Login", "Admin")
    <!-- Bootstrap core JavaScript -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Content/bootstrap4/js/bootstrap.bundle.min.js"></script>
    <script>
        $(function () {
            $('#search-form').submit(function () {
                if ($("#s").val().trim())
                    return true;
                return false;
            });
        });
    </script>
    <script src="~/Scripts/fontAwesome/fontawesome-all.min.js"></script>
</body>

</html>
