@model theBestBlog.Domain.Objects.Post

<div class="card mb-4 rounded-0">
    <img class="card-img-top rounded-0" src="http://placehold.it/800x300" alt="Card image cap">
    <div class="card-body">
        <h2 class="card-title">@Html.PostLink(Model)</h2>
        <div>Category: @Html.CategoryLink(Model.Category)</div>
        @if (Model.Tags.Count > 0)
        {
            <div>Tags: @TagHelper.Tags(Html, Model.Tags)</div>
        }
        <p class="card-text">@Html.Raw(Model.ShortDescription)</p>
       <a class="btn btn-primary" href="@Url.Action("Post", "Blog",
        new
        {
            year = Model.PostedOn.Year,
            month = Model.PostedOn.Month,
            day = Model.PostedOn.Day,
            title = Model.UrlSlug
        })">Read more &rarr;</a> 
    </div>
    <div class="card-footer text-muted">
        Posted on @Model.PostedOn.ToConfigLocalTime()
    </div>
</div>

@*@Html.ActionLink("continue...", "post", "blog",
        new
        {
            year = Model.PostedOn.Year,
            month = Model.PostedOn.Month,
            day = Model.PostedOn.Day,
            title = Model.UrlSlug
        },
        new { @class = "btn btn-primary" }
    )*@